#nav-subs {
  grid-column: 3/4;
  position: relative;
}

#sub-nav-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 270px;
  height: 40px;
  padding: 0.75em;
  border: 1px solid #fff;
  border-radius: 4px;
  outline: none;
  font-weight: 700;
  color: #222;
  background-color: #fff;
  text-align: center;
}

#sub-nav-button:hover {
  border: 1px solid #ddd;
  filter: none;
}

.dropdown-button-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666;
  font-weight: 500;
}

.dropdown-button-icon {
  height: 10px;
  width: 10px;
  color: #888;
}

#sub-dropdown {
  position: absolute;
  top: 34px;
  right: 0;
  width: 270px;
  height: 482px;
  margin-top: -1px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 0 solid #fff;
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
}

#dropdown-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 0;
}

.dropdown-heading {
  padding: 8px 16px;
  color: #888;
  font-size: 0.7em;
  font-weight: 500;
}
