#nav-subs {
  grid-column: 3/4;
}

#sub-nav-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 270px;
  height: 40px;
  padding: 1.5em;
  border: 1px solid #ddd;
  border-radius: 4px;
  outline: none;
  background-color: #fff;
  text-align: center;
}

#sub-nav-button:hover {
  border: 1px solid #ddd;
  filter: none;
}

.profile-box {
  background-color: var(--blue);
  height: 60px;
}

.menu-icon {
  color: #444;
  height: 30px;
}

.dropdown-button-text {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #666;
  font-weight: 500;
}

.dropdown-button-icon {
  height: 15px;
  width: 15px;
  color: #888;
}

.dropdown-profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  height: 60px;
  background-color: var(--blue);
}

.dropdown-username {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

#sub-dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  border-left: 1px solid #ddd;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 1;
  transition: all 0.2s ease-in-out;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
}

#dropdown-overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 0;
}

.dropdown-heading {
  padding: 8px 16px;
  color: #888;
  font-size: 0.9em;
  font-weight: 500;
}

.dropdown-button-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-button {
  margin-top: 16px;
  width: 100%;
}

.dropdown-show {
  animation: slide-in 0.3s ease-in-out;
}

.dropdown-hide {
  animation: slide-out 0.3s ease-in-out;
}

.close-button {
  padding: 0.5em;
  margin: 0.5em;
  border: none;
  background-color: transparent;
}

.close-button-icon {
  height: 2em;
  width: 2em;
  color: #fff;
}

@keyframes slide-in {
  from {
    right: -300px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide-out {
  from {
    right: 0px;
  }
  to {
    right: -300px;
  }
}
