.score-box,
.post-score-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.invis-button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  z-index: 2;
}

.score-arrow {
  width: 20px;
  color: #aaa;
  z-index: 6;
}

.score-arrow:hover {
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.up-arrow:hover {
  color: var(--orange);
}

.down-arrow:hover {
  color: var(--blue);
}

@media (max-width: 575.9px) {
  .post-score-box {
    flex-direction: row;
  }

  .score-number {
    margin: 0 4px;
    font-weight: 600;
  }

  .score-arrow {
    width: 20px;
  }

  .post-score-box {
    place-self: start;
    border-right: none;
  }
}

@media (min-width: 576px) {
  .post-score-box {
    flex-direction: row;
  }
  .score-arrow {
    width: 20px;
  }
  .score-number {
    margin: 0 4px;
    font-weight: 500;
    color: #666;
  }

  .post-score-box {
    place-self: start;
    border-right: none;
  }
}

@media (min-width: 800px) {
  .post-score-box {
    flex-direction: column;
    padding: 0 8px;
  }

  .score-arrow {
    width: 20px;
  }

  .post-score-box {
    border-right: 1px solid #eee;
  }
}
