#sub-index-container {
  width: 100%;
  max-width: 600px;
  margin: 16px auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

#sub-index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--blue);
}

#sub-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
}

.sub-preview-link {
  position: absolute;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #444;
  z-index: 1;
}

.white-heading {
  color: #fff;
  font-weight: 600;
}

.sub-preview-large {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

.preview-name-box {
  display: flex;
  align-items: center;
}

.sub-circle {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--blue);
  margin-right: 0.5em;
}

.sub-name {
  font-weight: 500;
  color: #444;
  font-size: 16px;
}

.preview-item {
  margin: 0 8px;
}

@media (max-width: 575.9px) {
  #sub-index-header {
    flex-direction: column;
  }
}

@media (min-width: 576px) {
  #sub-index-header {
    flex-direction: column;
  }
}

@media (min-width: 950px) {
  #sub-index-header {
    flex-direction: row;
  }
}
