#sub-index-container {
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

#sub-index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #eee;
}

#sub-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 2em;
}

.sub-preview-link {
  text-decoration: none;
  color: #444;
}

.sub-preview {
  padding: 1em;
  border-bottom: 1px solid #aaa;
}
