.sub-header-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.community-theme {
  height: 40px;
  background-color: var(--blue);
}

.lower-header-container {
  background-color: #fff;
}

.header-main-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: -14px;
  margin-bottom: 12px;
}

.sub-image {
  display: inline-block;
  height: 72px;
  width: 72px;
  border: 4px solid #fff;
  border-radius: 100%;
  background-image: url("../../images/spaceDude.jpg");
  background-position: center;
  background-size: cover;
}

.small-sub-image {
  height: 40px;
  width: 40px;
  margin-right: 0.5em;
}

.header-sub-container {
  display: flex;
  margin-top: 24px;
}

.sub-title-container {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
}

.sub-title {
  font-size: 1.6em;
  font-weight: 600;
  color: #444;
}

.sub-address {
  margin-top: 4px;
  font-size: 0.9em;
  color: #888;
}

.sub-header-buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
}

@media (max-width: 575.9px) {
  .header-sub-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sub-title {
    font-size: 1.4em;
    margin-bottom: 8px;
  }

  .sub-title-container,
  .sub-header-buttons {
    margin-left: 16px;
  }
}

@media (min-width: 576px) {
  .sub-title {
    font-size: 1.4em;
  }

  .sub-title-container,
  .sub-header-buttons {
    margin-left: 16px;
  }
}

@media (min-width: 800px) {
  .sub-title {
    font-size: 1.6em;
  }

  .sub-title-container,
  .sub-header-buttons {
    margin-left: 32px;
  }
}
