.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  text-decoration: none;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: #eee;
}

.dropdown-item-icon {
  height: 25px;
  width: 25px;
  color: var(--blue);
  margin-right: 0.5em;
}

.dropdown-item-circle {
  height: 25px;
  width: 25px;
  border: 1px solid #666;
  border-radius: 100%;
  background-color: var(--blue);
  margin-right: 0.5em;
}

.dropdown-item-heading {
  color: #444;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
