.sidebar-item {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.sidebar-item-header {
  padding: 1em;
  background-color: var(--blue);
  color: #fff;
}

.sidebar-item-main {
  padding: 1em;
  color: #444;
  line-height: 1.5;
}

.sidebar-item-footer {
  padding: 1em;
  border-top: 1px solid #eee;
  font-size: 0.8em;
  color: #888;
}

.heading-white {
  font-size: 1.2em;
  font-weight: 700;
  color: #fff;
}
