.comment-container {
  position: relative;
  border-left: 2px solid #eee;
}

.comment {
  padding: 0.25em 0;
}

.comment-reply {
  position: relative;
  margin-left: 1em;
  border-left: 2px solid #eee;
}

.footer-button {
  display: flex;
  align-items: center;
  height: 1.25em;
  border: none;
  background-color: #fff;
  padding: 0;
  color: #888;
  font-weight: 500;
  text-decoration: none;
  z-index: 6;
}

.footer-button:hover {
  text-decoration: underline;
}

.footer-button-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
}

.reply-bubble {
  height: 1.25em;
  width: 1.25em;
  margin-right: 0.25em;
  color: #888;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr;
}

.comment-score-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.edited-item {
  font-style: italic;
}
