.comment-container {
  position: relative;
  border-left: 2px solid #eee;
}

.comment {
  padding: 0.25em 0;
}

.comment-reply {
  position: relative;
  margin-left: 1em;
  border-left: 2px solid #eee;
}

.footer-button-container {
  display: grid;
  grid-template-columns: auto auto;
}

.reply-bubble {
  height: 1.25em;
  width: 1.25em;
  margin-right: 0.25em;
  color: #888;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr;
}

.edited-item {
  font-style: italic;
}
