.post-preview-container {
  border: 0.1rem solid #aaa;
  background-color: #fff;
}

.post-preview-header {
  display: flex;
  font-size: 0.8em;
  color: #888;
  text-decoration: none;
}

.post-preview-main {
}

.post-preview-footer {
  display: flex;
}
