.comment-form {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1em;
}

.form-button-container {
  place-self: end;
  display: flex;
  margin-top: -1em;
}

.no-user-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  margin: 8px 0;
  border: 1px solid #eee;
  border-radius: 4px;
}
