.comment-form {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 1em;
}

.form-button-container {
  place-self: end;
  display: flex;
  margin-top: -1em;
}

.no-user-box {
  display: grid;
  gap: 8px;
  align-items: center;
  padding: 16px;
  margin: 16px 0;
  border: 1px solid #eee;
  border-radius: 4px;
}

@media (max-width: 575.9px) {
  .no-user-box {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (min-width: 576px) {
  .no-user-box {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media (min-width: 800px) {
  .no-user-box {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
