#post-container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 1em;
  margin: 1em auto;
}

#post-container-left {
  display: flex;
  flex-direction: column;
}
