#sidebar-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  gap: 1.5em;
}

.button-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1em;
}

.small-image {
  height: 40px;
  width: 40px;
  margin-right: 0.5em;
}

.profile-picture {
  top: 20px;
  height: 100px;
  width: 100px;
  border: 1px solid #888;
  border-radius: 4px;
  background-color: #fff;
}

.user-stats {
  display: flex;
  justify-content: space-between;
}

.user-stats-group {
  display: flex;
  flex-direction: column;
}

.user-stat-label {
  font-size: 0.9em;
  font-weight: 500;
}

.user-stat {
  font-size: 0.8em;
  color: #888;
}

.sub-preview {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px;
}

.sub-preview:hover {
  text-decoration: underline;
}
