#sidebar-container {
  width: 312px;
  display: grid;
  grid-template-rows: auto auto 1fr;
  gap: 1.5em;
}

.button-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 1em;
}

.small-image {
  height: 40px;
  width: 40px;
  margin-right: 0.5em;
}
