.post-container {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr;
  padding: 0.5em 0;
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  z-index: 0;
}

.card-header,
.card-main,
.card-footer {
  padding: 4px 8px;
  width: 100%;
}

.card-header,
.card-footer {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  gap: 8px;
  font-size: 0.8em;
  color: #888;
}

.header-item {
  border: none;
  background-color: #fff;
  padding: 0;
  color: #888;
  font-weight: 300;
  text-decoration: none;
}

.footer-item {
  display: flex;
  align-items: center;
  height: 1.25em;
  border: none;
  background-color: #fff;
  padding: 0;
  color: #888;
  font-weight: 500;
  text-decoration: none;
}

.post-title {
  color: #222;
  font-size: 1.2em;
}

.post-content {
  color: #444;
  font-size: 1em;
}

.profile-link {
  position: relative;
  color: #888;
  text-decoration: none;
  z-index: 4;
}

.profile-link:hover {
  text-decoration: underline;
}

.post-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.post-link:hover {
  padding: 1px;
  border: 0.1em solid #888;
  border-radius: 4px;
}

.sub-link {
  position: relative;
  margin-right: 1em;
  color: #222;
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  z-index: 4;
}

.sub-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.score-box {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5em;
}

.score-arrow {
  width: 25px;
  color: #aaa;
  z-index: 6;
}

.score-arrow:hover {
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

#up-arrow:hover {
  color: var(--orange);
}

#down-arrow:hover {
  color: var(--blue);
}

iframe {
  max-width: 600px;
}
