.sub-container {
  display: flex;
  flex-direction: column;
}

#posts-container {
  width: 640px;
}

#sub-header {
  height: 150px;
  border-bottom: 0.1rem solid #ccc;
  background-color: #fff;
}

.colored-bar {
  height: 70px;
  background-color: #26a69a;
}

.sub-heading {
  padding: 0 5em;
}

.sub-page {
  width: 100%;
  max-width: 1000px;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 25px;
}

.sidebar {
  min-height: 100vh;
  background-color: green;
}
