.sub-container {
  margin-top: 48px;
}

#posts-container {
}

#sub-header {
  height: 150px;
  border-bottom: 0.1rem solid #ccc;
  background-color: #fff;
}

.colored-bar {
  height: 70px;
  background-color: #26a69a;
}

.sub-heading {
  padding: 0 5em;
}

.sub-page {
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 20px;
}

.sidebar {
  min-height: 100vh;
  background-color: green;
}
