.post-details-container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  gap: 1em;
}

.post-details {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .post-details-container {
    grid-template-columns: auto;
    box-sizing: border-box;
    margin: 1em;
  }
}

@media (min-width: 1000px) {
  .post-details-container {
    grid-template-columns: 1fr 0.5fr;
    margin: 1em auto;
  }
}
